.Main {
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  .search_space {
    display: flex;
    flex-direction: column;
  }
}
